<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
    <title>Home page</title>
  </head>
  <body>
    <div id="todays-workout">
      <h1 id="todays-workout-header">Сегодняшние записи пользователя {{ username }}</h1>
      <table border="3">
        <thead>
          <tr>
            <th>Упражнение</th>
            <th>Количество повторений</th>
          </tr>
        </thead>
        <tbody>
          {% for i in data %}
          <tr>
            <td>{{ i.exercise }}</td>
            <td>{{ i.amount }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br />
      <a href="{{ url_for('add_workout') }}"><button>Добавить запись</button></a>
    </div>

    <div id="workout-graphics">
      <h1 id="exercises-graphics">Динамика количества повторений для каждого упражнения</h1>
      <img
        src="{{ url_for('static', filename='images/exercises_progress.png') }}"
        alt="График динамики выполнения упражнений"
        onerror="this.style.display='none'"
      />
    </div>
  </body>
</html>
